@font-face{
  font-family: 'Roboto-bold';
  src: url('fonts/Roboto-bold');
}

h1, h2, h3,h4,h5{
  font-family: 'Roboto-bold', sans-serif;
  color:#333333;
}

.heading{
  margin-bottom: 20px;
}

body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color:#7d7d7d;
   padding-top:0px;
   margin-top: 0px;
}

a{
  color:#fb2f3a;
}
a:focus, a:hover{
  color:#c9272f;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

.heavy{
  font-weight: bold;
}



/*------------------------------------*\
        NAV BAR
\*------------------------------------*/

.navbar{
  
  padding: 0;
  background: transparent;
  border-bottom: 1px solid rgba(250,250,250, .2);
  margin-top: 30px;
  padding-bottom: 20px;
}
.navbar-brand{
  background: url(../img/brand.png) center no-repeat;
  text-indent: -9999px;
  height:57px;
  width: 127px;
}

.navbar-brand:hover,.navbar-brand:focus, .navbar-brand:active{
  border-bottom:none;
}

.navbar-nav>li>a {
  font-weight: bold;
  font-weight: 14px;
  color:white;
  margin-top: 15px;
  padding: 4px 20px;
}
.navbar-nav .active > a{
  background: rgba(0,0,0,.7);
  -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
    border-radius: 3px;
}

.nav>li>a:focus, .nav>li>a:hover{
  background: transparent;
  color: rgba(250,250,250, .7);
  border-bottom: none;
}

/*------------------------------------*\
        BUTTONS
\*------------------------------------*/

.btn-danger{
    background: #fb2f3a;
    border: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 1px rgba(0,0,0,0.3);
    text-shadow:none;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #c9272f;
  border: none;
   box-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.btn-primary{
  background:#569CCD;
  border-color:#569CCD;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background:blue;
}
.btn-default{
background:#9a9c9f;
color:white;
font-size: 12px;
font-weight: bold;
box-shadow:inset 0 1px rgba(255,255,255, .2);
border: 1px solid rgba(0,0,0,.2);
margin-top: 20px;
}
.btn-default:hover, .btn-default:focus, .btn-default:active{
  background: #6e6f70;
  color:white;
}


/*------------------------------------*\
        JUMB0TRON
\*------------------------------------*/

.jumbotron{
  padding: 0;
  background: #222 url(../img/jumbotron.jpg) no-repeat top left;
  background-size: cover;
  margin-bottom: 0;
}
.jumbotron-inner h1{
  font-size: 48px;
  color:white;
  text-shadow: 0 1px 0 rgba(250,250,250, .3);
  margin-top: 58px;
}
.jumbotron-inner h4{
  color:#cccccc;
  text-shadow: 0 1px 0 rgba(250,250,250, .3);
  margin-top: 20px;
}
.jumbotron-inner a{
  color: white;
  text-decoration: none;
}

.jumbotron-inner a.learn{
   border-bottom: 1px solid #ddd;
   margin-left: 20px;
}
.jumbotron-inner .jumbo-links{
  margin-top: 30px;
  margin-bottom: 20px;
}

/*---------------------------------------*\
            PROCESS
\*---------------------------------------*/

.process{
  background: #eee;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #fff;
  box-shadow: 0 -3px 5px rgba(0,0,0,0.3);
  z-index: 10;
  position: relative;
  padding: 60px 0;
}

.h-line{
  background: url(../img/h-line.jpg) repeat-x;
  max-height: 5px;
  position: relative;
  top:55px;
  z-index: -1;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
    border-radius: 3px;

}
.process-icon{
  width:100px;
  height:100px;
  display:inline-block;
  background: transparent url(../img/process-sprite.png) no-repeat;
  background-position: left top;
  margin-bottom: 20px;
}

.process-icon.idesign{
  background-position: -100px top;
}
.process-icon.idevelop{
  background-position: -200px top;
}
.process-icon.ilaunch{
  background-position: -300px top;
}

/*---------------------------------------*\
            PORTFOLIO
\*---------------------------------------*/


.portfolio{
  padding: 60px 0;
}
.img-thumbnail{
  margin-bottom: 20px;
}
.portfolio p{
margin-bottom: 35px;
}
.portfolio h5{
  margin-bottom: 5px;
}
.category{
  font-size: 12px;
  color:#999;
}
/*---------------------------------------*\
            PARTNERS
\*---------------------------------------*/

.partners{
  padding: 60px 0;
  border-bottom: 1px solid #ddd;
}

/*---------------------------------------*\
            WIDGETS
\*---------------------------------------*/

.widgets{
    padding: 50px 0 60px;
    border-bottom: 1px solid #ddd;
}
.testimonials blockquote{
  overflow:hidden;
  border:none;
  font-size: 14px;
  line-height: 1.25em;
  font-family: Georgia, Serif;
  font-style: italic;
  padding-top: 0;
}
cite{
  font-style: normal;
  font-weight: bold;
  color:#333;
  font-family:Helvetica, Arial, sans-serif;
}
cite a{
  font-weight: normal;
}

.blog-lists, 
.tweet-lists{
  list-style: none;
  padding: 0;
  margin: 0;
}
.blog-lists li, 
.tweet-lists li{
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.blog-lists li:first-child,
.tweet-lists li:first-child
{
  padding-top:0;
}
.blog-lists li:last-child,
.tweet-lists li:last-child{
  border-bottom: 0;
}
.blog-lists h5 a {
  color: #333;

}
.blog-lists h5{
  margin-bottom: 0;
}
.tweet-lists li img{
  margin-right: 20px;
}

/*---------------------------------------*\
            FOOTER
\*---------------------------------------*/
footer{
  padding: 60px 0;
}
.footer-links{
  list-style: none;
  display: inline-block;
}
.footer-links li{
  float:left;
  margin-right:40px;
}
.footer-links li a{
  color:#666;
  font-size: 12px;
}

.social{
  clear:both;
  margin: 30px 0;
}

.twitter{
  background: #569ccd;
  margin-right: 5px;
}
.twitter:focus, .twitter:active, .twitter:hover{
  background: #2e6286
}
.facebook{
background: #2272a9;
}
.facebook:focus, .facebook:active, .facebook:hover{
  background: #0d4063;
}
.social-sprite {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: transparent url(../img/social-sprite.png) no-repeat;
  background-position: left top;
}

.social-sprite.facebook {
  background-position: -16px top;
}